.fullscreen-enabled {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #000;
}

.volume_description {
  color: rgb(106, 78, 78);
}

.volume_range {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 5px;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.volume_range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #bbada0;
  cursor: pointer;
  border-radius: 5px;
}

.volume_range::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #bbada0;
  cursor: pointer;
  border-radius: 5px;
}

.fs {
  font-size: 28px;
}
